*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fonts-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top:37px ;
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    
}

nav{
    width: 71%;
    max-width: 1170px;
    /* border: 1px solid red; */
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;

}
.logo h1{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    /* width: 150px;
    max-width: 150px; */
    padding: 18px 36px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20x;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    display: flex;
    max-width: 390px;
    gap: 51px;
    align-items: center;
}

nav ul li{
    list-style-type:none;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;  
}

#banner{
    width: 1332px;
    max-width: 1332px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 46px  38px 0px 230px;
    align-items: center;
   
}

.banner-containt{
    width: 585px;
}

.banner-containt h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-containt h1{
    font-size: 60px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-containt p{
    width: 585px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner-img img{
    width: 585px;
    vertical-align: middle;
}
#about{
    width: 1140px;
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 130px 230px 0px;
    padding: 131px 156px;
    
}

#about .about-decoration{
    width: 827px;
    text-align: center;
   
}


#about .about-me h2{
     font-size: 35px;
     padding-bottom: 30px;
     font-weight: bold;
     color: #181818;
}
#about .about-me p{
     font-size: 18px;
     margin-bottom: 30px;
     color: #757575;
     padding: 0px 22.5ppx;
     line-height: 30px;
}

.about-card{
    max-width: 827pxp;
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
    padding: 0x 22.5px;
}
.about-card h4{
   font-size: 20px;
   font-weight: 400;
   color: #757575;
}
.about-card p{
   font-size: 20px;
   font-weight: bold;
   color: #474747;
}


